<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.kugihan.dictionaryformids.hmi_android" android:versionCode="58"
	android:versionName="0.10.0 T2">
	<application android:label="@string/app_name"
		android:debuggable="false" android:icon="@drawable/defaulticon"
		android:description="@string/app_description">
		<activity android:name=".DictionaryForMIDs" android:label="@string/app_name"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".AboutScreen" android:label="About Screen">
		</activity>
		<activity android:name=".HelpScreen" android:label="Help Screen">
		</activity>
		<activity android:name=".FileList" android:label="Choose Dictionary">
		</activity>
		<activity android:name=".ChooseDictionary" android:label="Choose Dictionary">
		</activity>
		<activity android:name=".DictionaryList" android:label="Choose Dictionary">
		</activity>
		<activity android:name=".RecentList" android:label="Choose Dictionary">
		</activity>
		<activity android:name=".Preferences" android:label="Preferences">
		</activity>
		<activity android:name=".InstallDictionary" android:label="Install Dictionary">
		</activity>
		<service android:name=".service.DictionaryInstallationService"></service>
	</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 
